.app-add-form {
  margin-top: 20px;
  padding: 25px;
  background-color: #012c46;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
}

.add-form {
  margin-top: 20px;
}

.add-form input {
  width: 350px;
  margin-right: 20px;
}

.btn-add {
  padding: 0 40px;
}

.error {
  border: 2px solid red;
}